<section class="flexDown rootContainer">
  <!-- Top nav bar -->
  <nav class="flexAcross">
    <div class="logoContainer flexAcross">
      <div class="iconContainer clickable">
        <svg class="icon icon-heart">
          <use xlink:href="#icon-heart"></use>
        </svg>
      </div>
      <div class="">Health Record</div>
      <div class="sideMenuTrigger">
        <div class="iconContainer clickable" ng-click="vm.toggleSideMenu()">
          <svg class="icon icon-plus" ng-hide="vm.misc.isSideMenuOpen">
            <use xlink:href="#icon-plus"></use>
          </svg>
          <svg class="icon icon-minus" ng-show="vm.misc.isSideMenuOpen">
            <use xlink:href="#icon-minus"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="otherContainer flexAcross">
      <div class="logoutBtn clickable">{{ 'LOGOUT' | translate}}</div>
    </div>
  </nav>
  <section class="flexAcross bottomSection">
    <!-- Side Menu -->
    <aside ng-class="{ 'sideMenuOpen': vm.misc.isSideMenuOpen}">
      <div class="item flexAcross clickable" ng-repeat="item in vm.sideMenuItem" ng-click="vm.goToPage(item.stateName)" ng-class="{ 'isActive': item.isActive }">
        <div class="iconContainer">
          <svg class="icon icon-{{ item.iconName }}">
            <use xlink:href="{{ '#icon-' + item.iconName }}"></use>
          </svg>
        </div>
        <div class="lbl">{{ item.lbl | translate }}</div>
      </div>
    </aside>
    <div class="contentContainer">
      <div class="" ui-view="subMain"></div>
    </div>
  </section>
</section>
